.mat-card-title{
    color: blue;
    font-size: 25px;
    font-weight: bold;
}
.full-width{
    width: 100%;
}
.top-padding{
    padding-top: 3px;
}
.width{
    width: 100%;
}
.container{
    text-align: center;
}
.padding{
    padding-bottom: 10px;
}