.mat-card-title{
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}
.report{
    width: 100%;
} 
.align{
    text-align: center;
}
