<!-- <form class="form-container">
    <div class="container">
        <h2>CUSTOMERS VARIANCE REPORT : INPUT PRAMETERS</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>PRODUCT:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select form-select-sm">
                            <option>WEST1</option>
                            <option>WEST2</option>
                            <option>SOUTH1</option>
                            <option>SOUTH2</option>
                            <option>NORTH</option>
                        </select>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label>GEOGRAPHY:</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-select form-select-sm">
                            <option>WEST1</option>
                            <option>WEST2</option>
                            <option>SOUTH1</option>
                            <option>SOUTH2</option>
                            <option>NORTH</option>
                        </select>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-3">
                    <div class="align">
                        <label>PRODUCT:</label>
                        <select class="form-select form-select-sm">
                            <option>Action</option>
                            <option>Another action</option>
                            <option>Something else here</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        <label>GEOGRAPHY:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <label>EVALUATION PERIOD:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            From Month
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            To Month
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <label>COMPARED AGAINST:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            From Month
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            To Month
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <label>DATA MEASURE:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <label>WITH PS(Y/N):</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <label>EVALUATE USING:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <label>VOLTA CUSTOMER(Y/N):</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                        <label>VARIANCE THRESOLD(+/-):</label><button class="btn btn-light dropdown-toggle"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <h6>(-1=Negative variance/+1=Positive variance/0=Top customers)</h6>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <label>REPORT TYPE:</label><button class="btn btn-light dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            All Product
                        </button>
                        <ul class="dropdown-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputDiplayLimit" class="col-form-label">DISPLAY LIMIT(Top-n):</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="inputDiplayLimit" class="form-control" id="inputField">
                </div>
            </div>
            <div class="container mb-2">
                <button type="button" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</form> -->
<h2 style="color:blue; text-align: center;">CUSTOMERS VARIANCE REPORT : INPUT PRAMETERS</h2>
<section class="container my-2 p-4">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">PRODUCT</label>
            <select class="form-select form-select-sm">
                <option selected>All Product</option>
                <option>WEST2</option>
                <option>SOUTH1</option>
                <option>SOUTH2</option>
                <option>NORTH</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">GEOAGRAPHY</label>
            <select class="form-select form-select-sm">
                <option selected>All Co.product</option>
                <option>WEST2</option>
                <option>SOUTH1</option>
                <option>SOUTH2</option>
                <option>NORTH</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">EVALUATION PERIOD</label>
            <input type="month" name="fromMonth" formControlName="fromMonth" value="2022-11" />
            <p>(From Month)</p>
        </div>

        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">EVALUATION PERIOD</label>
            <input type="month" name="toMonth" formControlName="toMonth" value="2022-11">
            <p>(To Month)</p>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">COMPARED AGAINST</label>
            <input type="month" name="cFromMonth" formControlName="cFromMonth" value="2022-11">
            <p>(From Month)</p>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">COMPARED AGAINST</label>
            <input type="month" name="cFromMonth" formControlName="cToMonth" value="2022-11">
            <p>(To Month)</p>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">DATA MEASURE</label>
            <select class="form-select form-select-sm">
                <option selected>Revenue</option>
                <option>WEST2</option>
                <option>SOUTH1</option>
                <option>SOUTH2</option>
                <option>NORTH</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">WITH PS(Y/N)</label>
            <select class="form-select form-select-sm">
                <option selected>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">EVALUATE USING</label>
            <select class="form-select form-select-sm">
                <option selected>Total</option>
                <option>WEST2</option>
                <option>SOUTH1</option>
                <option>SOUTH2</option>
                <option>NORTH</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">VOLTA CUSTOMER(Y/N)</label>
            <select class="form-select form-select-sm">
                <option selected>Yes</option>
                <option>No</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="inputThresold" class="form-label">VARIANCE THRESOLD(+/-)</label>
            <input type="text" class="form-control" id="inputThresold">
            <h6>(-1=Negative variance/+1=Positive variance/0=Top customers)</h6>

        </div>
        <div class="col-md-6">
            <label for="inputSelect4" class="form-label">REPORT TYPE</label>
            <select class="form-select form-select-sm">
                <option selected>Summary</option>
                <option>WEST2</option>
                <option>SOUTH1</option>
                <option>SOUTH2</option>
                <option>NORTH</option>
            </select>
        </div>
        <div class="col-md-12">
            <label for="inputDisplay" class="form-label">DISPLAY LIMIT(Top-n)</label>
            <input type="text" class="form-control" id="inputDisplay">
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </form>
</section>